*{
  margin: 0;
  padding: 0;
}

/*Navigation bar CSS properties*/

.Navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #141414;
}


.navImage {

  width: 7%;
  height: 7%;

}

.Navelements {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  
}

.Navelements a{
  color: whitesmoke;
  text-decoration: none;
}

.Navelements a:hover
{
  color: #e1183a;
  text-decoration: none;
}


.login {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 10px 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.login:disabled {
  cursor: default;
}

.login:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}


.signup {
  appearance: button;
  backface-visibility: hidden;
  background-color: #6A00FF;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 10px 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.signup:disabled {
  cursor: default;
}

.signup:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

/*Homepage CSS properties*/
.HomePage {
  min-height: 100vh;
  background-image: url('../src/images/homebackground.jpg');
  background-repeat: no-repeat;
  margin: 0;
}

.Homemessage {
  padding-top: 5%;
  width: 32%;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
 
}

.Homemessage h1,h5 {

margin: 7% 2.5%;
text-align: justify;

}

.Homelink{

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  margin-bottom: 4%;
}


/*Login page CSS */

.LoginPage, .SignupPage, .ExercisesPage{
  background-color: #141414;
  height: 100vh;
  color: whitesmoke;
}



form {

  padding-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 35%;

}


.form-control {
  margin: 2% 0;

}

.Bodyparts ul {

  display: flex;
  flex-direction: row;
  justify-content: center;
  

}

.Bodyparts li {

  list-style: none;
  margin: 0.5%;
  
}

.card {
  width: 15%;
  height: 10%;
  padding: 10px;
  box-shadow: 0px 2px 3px grey;
  margin: 0 auto;
  margin-bottom: 20px;
  background: #94a7c8;
  border-radius: 4px;
}


.WorkoutsPage{
  background-color: #141414;
  min-height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.WorkoutCreate {

  color: #fff;
  width: 100%;
  height: 100vh;
  margin-top: -8%;
  padding: 0;

}

.WorkoutsPage h1 {
margin-left: auto;
margin-right: auto;
}


.ExercisesList {
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.ExercisesPage{
  min-height: 100vh;
}

.Workouts{
  margin-top: 5%;
}

.Workoutcard{
  width: 15%;
  height: 10%;
  padding: 10px;
  box-shadow: 0px 2px 3px grey;
  margin: 0 auto;
  margin-bottom: 20px;
  background: #6A00FF;
  border-radius: 4px;

 
}

.Workoutcard a {

  text-align: center;
  text-decoration: none;
  color: wheat;

}

.WorkoutDetails {
  background-color: #141414;
  min-height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.ProjectCard{

  width: 20%;
  min-height: 10%;
  padding: 10px;
  box-shadow: 0px 2px 3px grey;
  margin: 2% 5%;
  margin-bottom: 20px;
  background: #405cf5;
  border-radius: 4px;
  text-align: justify;

}

.Addpage {

  background-color: #141414;
  min-height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.AddEx{
  background-color: #6A00FF;
  width: 35%;
  min-height: 35vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


.Addbutn  {
  width: 45%;
  background-color: #141414;
  text-decoration: none;
  color: #94a7c8;

}

.WorkoutExercisecard{

  background-color: #6A00FF;
  width: 100%;
  min-height: 35vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}